/vendor/
node_modules/
npm-debug.log
yarn-error.log
/.env
.DS_Store
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/logs/*.log
/storage/*.log
/bootstrap/cache/*.php
composer.phar
.idea/
.vscode/
.phpunit.result.cache
*.phpunit.result.cache
/.env.testing

